* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    background-color: #E9DAEE;
    background-image: linear-gradient(#A380DF, #E9DAEE, #E9DAEE);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.name {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -100px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 140px;
    background-image: url(https://images.unsplash.com/photo-1602294525148-c3d202338aa3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E9DAEE;
    margin-top: -25px;
}

.me {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    border: 6px solid #E9DAEE;
}

.headings {
    font-family: 'Twinkle Star', cursive;
    color: #A380DF;
}

.titles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    font-family: 'Twinkle Star', cursive;
    color: #A380DF;
}

.lines {
    color: #5c9057;
}

h2 {
    font-size: 50px;
    margin-top: 15px;
    text-align: center;
}

#navigate {
    display: flex;
    justify-content: center;
    align-content: center;
}

#navigate .toggle {
    color: #E9DAEE;
    width: 80px;
    height: 80px;
    font-size: 35px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
  }
  
.menu {
    display: flex;
    overflow: hidden;
    width: 0;
    -moz-transition: width 0.7s ease-in;
    -o-transition: width 0.7s ease-in;
    -webkit-transition: width 0.7s ease-in;
    transition: width 0.7s ease-in;
  }

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 65px;
    width: 100%;
  }

.menu ul li {
    display: inline-block;
  }

.menu ul li a {
    height: 65px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    -moz-transition:border-bottom 0.17s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -webkit-transition:border-bottom 0.17s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transition:border-bottom 0.17s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  
  }

.menu ul li a:hover {
    cursor: pointer;
    border-bottom: 2px solid #5c9057;
  }
  
  /* Handle Classes with JQuery */
.open {
    width: 562px;
    -moz-transition: width 0.4s linear;
    -webkit-transition: width 0.4s linear;
    transition: width 0.4s linear;
  }

.toggle.cancel {
    opacity: 0.85;
  }

.toggle.cancel:hover {
    opacity: 0.95;
  }

h3 {
    font-size: 40px;
}

#more {
  display: none;
}

.moreBtn {
  transition-duration: 0.4s;
  background-color: #E9DAEE;
  border-color: #A380DF;
  border-radius: 5px 300px 5px 300px;
  width: 100px;
  font-family: 'Philosopher', sans-serif;
}

.moreBtn:hover {
  background-color: #A380DF;
  color: #E9DAEE;
}

h4 {
    font-size: 30px;
}

p {
    margin: 40px 80px 40px 80px;
}

ul {
  list-style: none;
}

li {
  margin: 10px;
}

.skills {
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.logo1 {
  height: 100px;
  width: 110px;
  margin: 0px 20px 80px 20px;
  filter: brightness(0%);
  position: relative;
  -webkit-animation: floatBubble 2s;
  animation-fill-mode: forwards;
}

.logo1:hover {
  height: 150px;
  width: 160px;
}

.logo2 {
  height: 100px;
  width: 100px;
  margin: 0px 20px 50px 20px;
  position: relative;
  -webkit-animation: floatBubble 2s;
  animation-fill-mode: forwards
}

.logo2:hover {
  height: 150px;
  width: 150px;
}

.logo3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0px 20px 20px 20px;
  filter: grayscale(100%);
  position: relative;
  -webkit-animation: floatBubble 2s;
  animation-fill-mode: forwards
}

.logo3:hover {
  height: 150px;
  width: 150px;
}

.logo4 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0px 20px -10px 20px;
  position: relative;
  -webkit-animation: floatBubble 2s;
  animation-fill-mode: forwards
}

.logo4:hover {
  height: 150px;
  width: 150px;
}

@-webkit-keyframes floatBubble{
  0%{
        top:0;
        -webkit-animation-timing-function: ease-in;
  }

  33% {
      top: 50px;
      -webkit-animation-timing-function: ease-out;
  }

  66% {
        top:0;
        -webkit-animation-timing-function: ease-in;
   }

  100% {
        top:0px;
        -webkit-animation-timing-function: ease-in;
   }
}

.contactp {
  padding: 40px;
}

footer {
  text-align: center;
  background-color: #A380DF;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #E9DAEE;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

@media only screen and (max-width: 680px) {

  body {
    background-image: linear-gradient(#A380DF, #E9DAEE, #E9DAEE, #E9DAEE);
  }

  h1 {
    font-size: 70px;
    margin-top: 20px;
  }

  #navigate {
    margin-top: 50px;
  }

  .menu ul li a {
    font-size: 17px;
  }

  .me {
    width: 280px;
    height: 280px;
    border-width: 4px;
  }

  h2 {
    font-size: 25px;
    margin-top: -50px;
  }

  p {
    margin: 15px;
  }

  .logo1 {
    height: 40px;
    width: 50px;
  }

  .logo2 {
    height: 40px;
    width: 40px;
  }

  .logo3 {
    height: 40px;
    width: 40px;
  }

  .logo4 {
    height: 40px;
    width: 40px;
  }

}